@import url(https://fonts.googleapis.com/css?family=Roboto);
.black {
  color: black; }

.display-area {
  padding-left: 225px; }

.bar {
  display: inline-block;
  width: 20px;
  margin-right: 2px;
  background-color: teal; }

.slide {
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
  height: 150px;
  text-align: center; }

.slide-enter {
  top: 200px;
  transition: all 0.5s; }

.slide-enter-active {
  top: 5px; }

.slide-leave {
  top: 5px;
  transition: all 0.5s; }

.slide-leave-active {
  top: 200px;
  opacity: 0; }

h1.page-header {
  margin-top: -5px; }

#chart {
  margin: 0 auto;
  border: 1px solid #efefef; }

.bar-label {
  text-anchor: end;
  fill: white; }

.sidebar {
  padding-left: 0; }

.main-container {
  background: #FFF;
  padding-top: 15px;
  margin-top: -20px; }

.footer {
  width: 100%; }

:focus {
  outline: none; }

.navbar-inverse {
  background-color: #212121; }

.side-menu {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7; }

.side-menu .navbar {
  border: none; }

.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7; }

.side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  border-right: 5px solid #e7e7e7; }

.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7; }

.side-menu .navbar-nav li a {
  padding: 15px; }

.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px; }

.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none; }

.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0; }

.side-menu #dropdown .indicator {
  float: right; }

.side-menu #dropdown > a {
  border-bottom: 1px solid #e7e7e7; }

.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3; }

.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%; }

.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7; }

.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none; }

.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px; }

.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px; }

.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px; }

.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7; }

.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px; }

.side-menu .brand-name-wrapper {
  min-height: 50px; }

.side-menu .brand-name-wrapper .navbar-brand {
  display: block; }

.side-menu #search {
  position: relative;
  z-index: 1000; }

.side-menu #search .panel-body {
  padding: 0; }

.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7; }

.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative; }

.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px; }

.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px; }

/* Main body section */
.side-body {
  margin-left: 310px; }

/* small screen */
@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0; }
  .side-menu .navbar {
    z-index: 999;
    position: relative;
    height: 0;
    min-height: 0;
    background-color: none !important;
    border-color: none !important; }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block; }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @-webkit-keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @-moz-keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  @-webkit-keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  @keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    overflow: auto;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  @-moz-keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  @keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  /* Slide side body*/
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  /* Hamburger */
  .navbar-toggle-sidebar {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #f3f3f3; }
  /* Search */
  #search .panel-body .navbar-form {
    border-bottom: 0; }
  #search .panel-body .navbar-form .form-group {
    margin: 0; }
  .side-menu .navbar-header {
    text-align: center;
    /* this is probably redundant */
    position: fixed;
    z-index: 3;
    background-color: #f8f8f8; }
  /* Dropdown tweek */
  #dropdown .panel-body .navbar-nav {
    margin: 0; } }

/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px; }

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0; }

/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none; }

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #0097A7;
    border-right: 1px solid #FFFFFF; } }

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px; }

.nav-sidebar > li > a {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #b2ebf2; }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca; }

/*
 * Main content
 */
.main {
  padding: 20px; }

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px; } }

.main .page-header {
  margin-top: 0; }

/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center; }

.placeholders h4 {
  margin-bottom: 0; }

.placeholder {
  margin-bottom: 20px; }

.placeholder img {
  display: inline-block;
  border-radius: 50%; }
